* {
  margin: 0;
  padding: 0;
}

body {
  background: #444444;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #d8d8d8;
  font-size: 16px;
  line-height: 2em;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.msgsContainer {
  padding: 20px;
  width: 500px;
  height: 500px;
  overflow-y: scroll;
  background-color: #003242;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
  border-radius: 10px;
  background-color: #00bfff;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
}

.memberIcon {
  width: 24px;
  height: 24px;
  margin-top: 5px;
  border-radius: 50%;
}

.text {
  max-width: 200px;
  padding: 14px 18px;
  background-color: #00bfff;
  color: #000000;
  border-radius: 16px;
  font-size: 14px;
  text-align: left;
}

.chatInput {
  width: 99%;
  border: none;
}

.input {
  width: 80%;
  height: 30px;
  background-color: #000000;
  color: #d8d8d8;
  border: 5px;
  border-radius: 20px;
  margin-right: 10px;
  padding-left: 20px;
  justify-content: space-between;
}

.button {
  width: 70px;
  height: 30px;
  background-color: #00bfff;
  color: #000000;
  border: 5px;
  border-radius: 20px;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.member {
  align-self: flex-start;
}
.currentMember {
  align-self: flex-end;
}
